

.social-media {
    width:100%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 4.5rem;
  

}
.social-media .left{
    display: flex;
    flex-direction: column;
    width: 15%;
} 
.social-media .left .upper{
    height: 4rem;
    width: 12rem;

    text-align: center;
    /* padding: 22px; */
    
    font-weight: 700;
    font-size: 20px;
   
    p{
        background-color: inherit;
        border-radius: 3rem;
        padding: 1.3rem;
        margin: 0rem;

    }
} 

.social-media .left .upper:hover{
    height: 4.5rem;
    width: 12.5rem;
    p{
        padding: 1.5rem;
    }

}

.social-media .left .lower{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    height: 11rem;
    margin-bottom: 2rem;
    

}
.social-media .left .lower .left{
    background-color: #f7e0e0;
    width: 9rem;
    height: 12rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 3px #a5a094;
}
.social-media .left .lower .left .facebook{
    width: 9rem;
    height: 2.5rem;
    background-color: #FFACAC;
    
    border-radius: 0 1.5rem 1.5rem 1.5rem ;
   
    font-size: larger;
    font-weight: 400;
    box-shadow: 0px 4px 3px #a5a094;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    padding-top: 0.4rem;
   
    

}
.social-media .right{
    font-size: larger;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}


.social-media .left .lower .right{
    background-color: #f7e0e0;
    width: 9rem;
    height: 12rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 3px #a5a094;
    margin-left: 2rem;

}
.social-media .left .lower .right .twitter{
    width: 9rem;
    height: 2.5rem;
    background-color: #FFACAC;
    border-radius: 0 1.5rem 1.5rem 1.5rem ;
    padding-top: 0.5rem ;
    padding-left: 1.5rem;
     font-size: large;
    font-weight: 300;
    box-shadow: 0px 4px 3px #a5a094;
    display: flex;
    flex-direction: row;
    
}

 .social-media .right .Under-two{
    display: flex;
    flex-direction: row;
    width:0.15rem; 
    height:3.5rem;
    background-color: black;
    margin-top: 0.3rem;
    border-radius: 1rem;
}
.social-media .right .icons{
    gap: 0.5rem;
    display: flex;
}
@media(max-width:700px){
  .social-media{
    flex-direction: column;
    background-color: #ffacac;
    justify-content: center; 
    align-items: center;
    padding:2rem;
  }
  
  .social-media .left{
    width:100%;
   
   text-align: center;
     
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
   
  }
   .social-media  .left  .upper{
     margin: auto 0;
     width:80%;
     margin-bottom: 2rem;
  display: flex;
    justify-content: center;
    align-items: center;
   
    
    a{
      
      background-color: inherit;
     padding: 0;
   }
  }

    .social-media .left .lower .left{
        width: 8rem;
        height: 10rem;

    }
    .social-media .left .lower .right{
       
        width: 8rem;
        height: 10rem;
        
        margin-left: 1.5rem;
    
    }
    .social-media .left .lower .right .twitter{
        width: 8rem;
        height: 2rem;
       
    }
    .social-media .left .lower .left .facebook{
        width: 8rem;
        height: 2rem;
        background-color: inherit;
       

    }
    .social-media .right p{
        font-size:medium;
        font-weight: 200;
    
    }
}




   



