@font-face{
  font-family:'suse';
  src:local('suse'), url("../Fonts/SUSE-ExtraBold.ttf") ;
}
.Login{
  background-color: white;
  width: 100vw;
  height: 90.7vh;
}
.Login .loginWrapper{
  align-items: center;
  margin-top: 15vh;
  margin-left: 37vw;
  background-color: rgb(186, 214, 214);
  height: 70vh;
  width: 25vw;
  padding: 2vw;
  border-radius: 0.3rem;
}
.Login .loginWrapper .loginBox{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Login .loginWrapper .loginBox .Logos{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: suse;
  margin-bottom: 2.5rem;
  gap: 0.5rem;
}
.Login .loginWrapper .loginBox .Logos .img_1{
  height: 5rem;
}
.Login .loginWrapper .loginBox .Logos .Name{
  font-size: 1.4rem;
}
.Login .loginWrapper .loginBox .loginInput{
  height: 2.5rem;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border-style: none;
}

.Login .loginWrapper .loginBox .loginButton{
  margin-top: 2rem;
  height: 2.5rem;
  width: 20rem;
  padding: 0.5rem;
  background-color: rgb(115, 177, 169);
  border-radius: 0.25rem;
  border-style: none;
  font-size: medium;
}
.Login .loginWrapper .loginBox .ForgotPassword{
  display: flex;
  justify-content: space-between;
  font-family: suse;
}
