@font-face{
  font-family:'suse';
  src:local('suse'), url("../Fonts/SUSE-ExtraBold.ttf") ;
}

.navbar{
  z-index:5;
  position:fixed;
  top:0;
  width: 100vw;
  height:8%;
  display:flex;
  justify-content: space-between;
  font-family: 'suse';
  align-items: center;
  padding: 1.5rem;
  margin-bottom: 2%;
  flex-shrink: 1;
  background-color: #f0f2f5;
}
.img_1{
  background-color: inherit;
  height:2.3rem;
}
.navbar .Search{
  width: 50vw;
  height: 2rem;
  background-color: #000000;
}
.navbar .Search .searchStyle{
  width: 100%;
  height: 100%;
  font-family: 'suse';
  padding: 1rem;
  font-size: large;
}
.navbar .right{
  display: flex;
  width: 10vw;
}
.navbar .right .gap{
  display: flex;
  margin: 0.5rem;
}
.navbar .leftSide .navlinks{
  display: flex;
  gap: 0.15rem;
}
.navbar .leftSide .Logos{
  background-color: inherit;
  height:100%;
  width:5%;
  display:flex;
  gap:0.7rem;
  align-items:center;
  justify-content: center;
  margin-left: 1rem;
}


.navbar .rightSide{
  background-color: inherit;
  width:20%;
  height:100%;
 font-family:'suse';
  display:flex;
  align-items: center;
  justify-content: end;
  color:rgb(0, 0, 0);
  gap:1rem;
  padding-right: 5vw;
  font-size: 1.2rem;
  font-weight: bold;
 
}
a{
  background-color: inherit;
  text-decoration: none;
  color:rgb(0, 0, 0);
}
.navbar .rightSide .LogAndMenu{
  height:4rem;
  display:flex;
  justify-content:center;
  align-items: center;
}
.navbar .rightSide .login{
  display:flex;
 height:100%;
  justify-content: center;
  align-items: center;
 font-family:Suse;
}
.topics a{
  display:contents;
  
}
.navbar .rightSide #open{
  background-color: inherit;
 
  display:flex;
  gap:0.5rem;
}
.navbar .rightSide #close{
  
  background-color: inherit;
    display:flex;
  gap:0.5rem;
}
li{
  background-color: transparent;
  list-style:none;
}
ul li a{
  text-align: center;
  color:#000000;
  display:block;
  text-decoration:none;
  font-size: 1.15rem;
 margin:0.03rem;
 padding:0.5rem;
 border-radius:15px;
 font-family:suse;
 opacity: 60%;
}
ul li a:not(.active)hover{
  background-color:#ffb2aa ;
}
.active{
  color:rgb(0, 0, 0);
  opacity: 100%;
}
.navbar .rightSide .LogAndMenu .icon{
  background-color: inherit;
  display:none;
}
#closed{
  background-color: inherit;
  display:none;
}
#opened{
  background-color: inherit;
 
}
@media(max-width:930px){
  .navbar{
    height:7rem;
  }
  .navbar .rightSide{
    
    font-size: 0.8rem;
  }
  .navbar .rightSide #open{
    gap:0.3rem;
  }
  ul li a{
    font-size: 0.7rem;
    padding:0.2rem;
  }
  .navbar .rightSide .login{
    padding:0.3rem;
  }
}
@media(max-width:600px){
  
  .navbar{
    padding-right: 0;
   height:7rem;
    width:100%;
   border-radius:0;
  justify-content:center;
   align-items: start;
  }
  
  .navbar .leftSide{
    margin:0;
    height:100%;
    width:50%;
    height:100%;
    
    padding:0.5rem;
  }
  .navbar .rightSide{
    
 
   margin:0;
   padding:0.5rem 0;
    height:100%;
    width:50%;
   }
  
  .navbar .rightSide  .LogAndMenu .login{
    font-size:0.9rem;
    height:2.6rem;
    width:5rem;
    padding:0.7rem;
    text-transform: uppercase;
  }
  .navbar .rightSide .LogAndMenu{
    
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    margin-left:2rem;
  }
  .navbar .rightSide .vertical{
    display:none;
  }
  .navbar .rightSide .LogAndMenu .icon {
    height:2.5rem;
    width:3rem;
    box-shadow: 0px 4px 3px #403b30;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:1px solid black;
  }
  
  
.navbar .rightSide #close{
    position:fixed;
    right:-500px;
   width:50%;
 

}
  .navbar .rightSide #open{
   width:50%;
  background-color: #ffacac;
  
  
    position:fixed;
    top:7rem;
    right:0px;
    display:flex;
    flex-direction: column;
    gap:0.7rem;
    align-items:start;
   
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom:3rem;
    border:1px solid black;
    border-top:none;
 }

 
 
 
  ul li a {
  
    font-size:0.9rem;
    padding:0.7rem;
  }
  
  }
